/* tablet */
@media screen and (max-width:768px){
    .container2{
        flex-direction:column;
        justify-content:center;
        align-items:flex-start;
        height: 35vw;
        width: 35vw;
    }
    
    #R{
        height: 50%;
        width: 50%;
    }
    
    #G{
        height: 50%;
        width: 100%;
    }
    
    #B{
        height: 50%;
        width: 50%;
    }
}

/* celular */
@media screen and (max-width: 350px) {
    .container2{
        height: 55vw;
        width: 55vw;
    }
    
    #R{
        height: 50%;
        width: 25%;
    }
    
    #G{
        height: 50%;
        width: 50%;
    }
    
    #B{
        height: 50%;
        width: 100%;
    }
}